@font-face {
  font-family: "titles";
  src: url("https://ignitedsstudios.github.io/IgnitedsLauncher/src/fonts/titles.ttf")
    format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17012b;
  font-family: "titles", sans-serif;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

#logo {
  width: 80px;
  height: 80px;
}

#title {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}

#content {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startButton {
  margin-bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos generales */
#startImage {
  width: 35%;
  height: 35%;
  object-fit: contain;
}

#downloadButton {
  min-width: 10%;
  max-width: 30%;
  padding: 6px 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "titles";
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  #startImage {
    width: 20%; /* Reduce el tamaño en pantallas más pequeñas */
    height: 20%;
  }

  #downloadButton {
    min-width: 20%; /* Ajusta el ancho mínimo */
    max-width: 40%; /* Ajusta el ancho máximo */
    padding: 4px 8px; /* Reduce el padding */
  }
}

@media (max-width: 480px) {
  #startImage {
    width: 40%; /* Reduce aún más el tamaño en pantallas muy pequeñas */
    height: 40%;
  }

  #downloadButton {
    min-width: 30%; /* Ajusta el ancho mínimo */
    max-width: 50%; /* Ajusta el ancho máximo */
    padding: 2px 4px; /* Reduce aún más el padding */
  }
}

/* CSS para evitar la selección de texto */
body {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* For Chrome, Safari, and Opera */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

#reloadButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Asegura que el botón de recarga esté encima del fondo */
}

#reloadButton img {
  width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 30px;
  object-fit: contain;
}
